BOT_TOKEN=1234567890:abcdefghijklmnopqrstuvwxyzABCDEFGHI
CHANNEL_ID=
GROUP_ID=
ADMIN_ID=
LOG_CHANNEL_ID=
LINK_DETECTION=true
CHANNEL_FORWARD=true
ADMIN_FORWARD=true
AUTO_BAN=true
BANNED_WORDS=18+
WELCOME_TEXT="🎊 [{USER_NAME}](tg://user?id={GROUP_ID}), ti diamo il benvenuto nell'<b>Antro di Lloyd</b>, il gruppo Telegram dell'@EarthBoundCafe, la prima community ed enciclopedia italiana dedicata alla serie di <i>EarthBound</i>!\n\n❗️ Ricordati di leggere attentamente le regole del gruppo!"
WELCOME_LINKS="Ci trovi anche su...|https://linktr.ee/wikibound\nLeggi le regole!|http://t.me/EBCafe_bot?start=regole_{GROUP_ID}"
WELCOME_PHOTO="https://i.ibb.co/wrMVDZBh/photo-2026-01-30-21-54-41.jpg"
